* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$red: #f00;
$blue: #00c;
$yellow: #ee0;
$lblue: #6969ff;
$brown: #64330b;
$lbrown: #c76414;
$green: #0a0;
$tea: #daa520;
$orange: #f69300;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.App {
  @include flexCenter(column);
  background-color: #384764;
  font-family: monospace;
}
#header {
  @include flexCenter(column);
  margin: 15px auto;
  color: rgb(7, 7, 7);
  text-shadow: 0 0 15px #fff;
  letter-spacing: 1px;
  width: 100%;
  #title {
    font-size: 30px;
  }
  #btn-container {
    @include flexCenter(row);
    button {
      width: 125px;
      padding: 15px 20px;
      margin: 20px 10px 10px 10px;
      background-color: #000;
      color: #ddd;
      border: 2px solid #ddd;
      border-radius: 15px;
      letter-spacing: 1px;
      box-shadow: 0 0 20px 3px #ddd;
    }
  }
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.table-container {
  @include flexCenter(column);
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  text-shadow: 0 0 15px rgb(5, 5, 5);
  margin-bottom: 30px;
}
#orderer-container {
  height: 100vh;
  justify-content: flex-start;
  p {
    font-size: 12px;
    color: #ddd;
    margin-top: 5px;
    margin-left: 10px;
    align-self: flex-start;
  }
}
.t-header {
  color: #ddd;
  text-shadow: 0 0 10px #999;
  background-color: #000;
  height: 50px;
}
table {
  padding: 20px 20px 20px 20px;
  background-color: rgb(49, 43, 43);
  color: #fff;
  border-radius: 10px;
  border: 5px solid #000;
  border-radius: 15px;
  box-shadow: 0 0 20px 3px #ddd;
}
.milk-name {
  padding: 5px 10px;
}
.total {
  width: 50px;
  box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.35) inset;
  text-shadow: 0 0 5px #ddd;
}
.input {
  width: 75px;
  height: 50px;
  text-align: center;
  margin: 5px 10px;
  border-radius: 10px;
  font-size: 28px;
  background-color: #384764;
  color: #ddd;
  text-shadow: 0 0 10px #999;
  border: 3px solid #000;
  box-shadow: 0 0 20px 10px #000 inset;
}

.red {
  background-color: $red;
}
.blue {
  background-color: $blue;
}
.yellow {
  background-color: $yellow;
}
.lblue {
  background-color: $lblue;
}
.brown {
  background-color: $brown;
}
.lbrown {
  background-color: $lbrown;
}
.green {
  background-color: $green;
}
.tea {
  background-color: $tea;
}
.orange {
  background-color: $orange;
}

@media (max-width: 425px) {
  .table-container {
    font-size: 22px;
  }
  .input {
    font-size: 24px;
    width: 65px;
    height: 50px;
    margin: 5px 5px;
  }
}
@media (max-width: 375px) {
  .table-container {
    font-size: 18px;
  }
  table {
    padding: 8px;
  }
  .input {
    font-size: 20px;
    width: 50px;
    height: 40px;
    border: 3px solid #000;
    box-shadow: 0 0 15px 5px #000 inset;
  }
}
@media (max-width: 320px) {
  .table-container {
    font-size: 16px;
  }
  table {
    padding: 3px;
  }
  .input {
    font-size: 18px;
    width: 45px;
    height: 40px;
    border: 1px solid #000;
    box-shadow: 0 0 10px 5px #000 inset;
  }
}
