* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.App {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #384764;
  font-family: monospace;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px auto;
  color: #070707;
  text-shadow: 0 0 15px #fff;
  letter-spacing: 1px;
  width: 100%;
}

#header #title {
  font-size: 30px;
}

#header #btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#header #btn-container button {
  width: 125px;
  padding: 15px 20px;
  margin: 20px 10px 10px 10px;
  background-color: #000;
  color: #ddd;
  border: 2px solid #ddd;
  border-radius: 15px;
  letter-spacing: 1px;
  -webkit-box-shadow: 0 0 20px 3px #ddd;
          box-shadow: 0 0 20px 3px #ddd;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.table-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  text-shadow: 0 0 15px #050505;
  margin-bottom: 30px;
  max-width: 95%;
}

#orderer-container {
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#orderer-container tfoot {
  font-size: 12px;
  color: #ddd;
}

.t-header {
  color: #ddd;
  text-shadow: 0 0 10px #999;
  background-color: #000;
  height: 50px;
}

table {
  padding: 20px;
  background-color: #312b2b;
  color: #fff;
  border-radius: 10px;
  border: 5px solid #000;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 20px 3px #ddd;
          box-shadow: 0 0 20px 3px #ddd;
}

.milk-name {
  padding: 5px 10px;
}

.total {
  width: 50px;
  -webkit-box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.35) inset;
          box-shadow: 0 0 20px 20px rgba(0, 0, 0, 0.35) inset;
  text-shadow: 0 0 5px #ddd;
}

.input {
  width: 75px;
  height: 50px;
  text-align: center;
  margin: 5px 10px;
  border-radius: 10px;
  font-size: 28px;
  background-color: #384764;
  color: #ddd;
  text-shadow: 0 0 10px #999;
  border: 3px solid #000;
  -webkit-box-shadow: 0 0 20px 10px #000 inset;
          box-shadow: 0 0 20px 10px #000 inset;
}

.red {
  background-color: #f00;
}

.blue {
  background-color: #00c;
}

.yellow {
  background-color: #ee0;
}

.lblue {
  background-color: #6969ff;
}

.brown {
  background-color: #64330b;
}

.lbrown {
  background-color: #c76414;
}

.green {
  background-color: #0a0;
}

.tea {
  background-color: #daa520;
}

.orange {
  background-color: #f69300;
}

@media (max-width: 450px) {
  .table-container {
    font-size: 22px;
  }
  .input {
    font-size: 24px;
    width: 65px;
    height: 50px;
    margin: 5px 5px;
  }
}

@media (max-width: 395px) {
  .table-container {
    font-size: 18px;
  }
  table {
    padding: 8px;
  }
  .input {
    font-size: 20px;
    width: 50px;
    height: 40px;
    border: 3px solid #000;
    -webkit-box-shadow: 0 0 15px 5px #000 inset;
            box-shadow: 0 0 15px 5px #000 inset;
  }
}

@media (max-width: 320px) {
  .table-container {
    font-size: 16px;
  }
  table {
    padding: 3px;
  }
  .input {
    font-size: 18px;
    width: 45px;
    height: 40px;
    border: 1px solid #000;
    -webkit-box-shadow: 0 0 10px 5px #000 inset;
            box-shadow: 0 0 10px 5px #000 inset;
  }
}
/*# sourceMappingURL=index.css.map */