* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
$red: #f00;
$blue: #00c;
$yellow: #ee0;
$lblue: #6969ff;
$brown: #64330b;
$lbrown: #c76414;
$green: #0a0;
$tea: #daa520;
$orange: #f69300;

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

.App {
  @include flexCenter(column);
  background-color: #384764;
  font-family: monospace;
}
#header {
  margin: 15px auto;
  color: rgb(7, 7, 7);
  text-shadow: 0 0 10px #fff;
  letter-spacing: 1px;
}
.table-container {
  @include flexCenter(column);
  text-align: center;
  font-size: 26px;
  font-weight: 500;
  text-shadow: 0 0 15px rgb(5, 5, 5);
  border: 5px solid #000;
  border-radius: 15px;
}
table {
  padding: 20px 20px 40px 20px;
  background-color: rgb(49, 43, 43);
  color: #fff;
  border-radius: 10px;
  th {
    padding-bottom: 10px;
    color: #ddd;
    text-shadow: 0 0 10px #999;
  }
}
.milk-name {
  padding: 5px 10px;
}
tr input {
  width: 75px;
  height: 50px;
  text-align: center;
  margin: 5px 10px;
  border-radius: 10px;
  font-size: 28px;
  background-color: #384764;
  color: #ddd;
  text-shadow: 0 0 10px #999;
  border: 3px solid #000;
  box-shadow: 0 0 20px 10px #000 inset;
}

.red {
  background: linear-gradient(45deg, $red, $red, #000);
}
.blue {
  background: linear-gradient(45deg, $blue, $blue, #000);
}
.yellow {
  background: linear-gradient(45deg, $yellow, $yellow, #000);
}
.lblue {
  background: linear-gradient(45deg, $lblue, $lblue, #000);
}
.brown {
  background: linear-gradient(45deg, $brown, $brown, #000);
}
.lbrown {
  background: linear-gradient(45deg, $lbrown, $lbrown, #000);
}
.green {
  background: linear-gradient(45deg, $green, $green, #000);
}
.tea {
  background: linear-gradient(45deg, $tea, $tea, #000);
}
.orange {
  background: linear-gradient(45deg, $orange, $orange, #000);
}

@media (max-width: 450px) {
  .table-container {
    font-size: 22px;
  }
  tr input {
    font-size: 24px;
    width: 45px;
    height: 40px;
  }
}
@media (max-width: 375px) {
  .table-container {
    font-size: 18px;
  }
  table {
    padding: 10px;
  }
  tr input {
    font-size: 20px;
    width: 40px;
    height: 35px;
    margin: 5px;
    border: 3px solid #000;
    box-shadow: 0 0 15px 5px #000 inset;
  }
}
@media (max-width: 300px) {
  .table-container {
    font-size: 16px;
  }
  table {
    padding: 7px;
  }
  tr input {
    font-size: 18px;
    width: 35px;
    height: 30px;
    margin: 5px;
    border: 3px solid #000;
    box-shadow: 0 0 15px 5px #000 inset;
  }
}
